
@{
    ViewBag.Title = "Misc";
}

<h2>Misc</h2>

<h2>The Array</h2>
<ol>
    @foreach (var item in ViewBag.Array)
    {
    <li>@item</li>
    }
</ol>
    

<h2>The List</h2>
@foreach (int i in ViewBag.List) {
  <span>@i  </span>
}
<h2>The Dictionary</h2>
@foreach (var item in ViewBag.Dictionary.Keys)
{
    <div>@item : @ViewBag.Dictionary[item]</div>
}

