@model MVCIntro.Models.Product

@{
    ViewBag.Title = "ShowAProduct";
}

<h2>Show A Product</h2>

<div>Name: @Model.Name</div>
<div>Description: @Model.Description</div>
<div>Price: @Model.Price</div>

<h2>Substitute Product</h2>
<form action="ShowAProduct" method="post">
    <div>Name: <input type="text" name="Name"  /></div>
    <div>Description: <input type="text" name="Description"  /></div>
    <div>Price: <input type="text" name="Price"  /></div>
    <div>Category: <input type="text" name="Category"  /></div>
    <div><input type="submit" value="Submit" /></div>
</form>
