@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Sample MVC App</h1>
    <p class="lead">Show me a product!</p>
    <p><a href="/Hello/ShowProduct" class="btn btn-primary btn-lg">Show it &raquo;</a></p>
</div>

