@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Junk Shop</h1>
    
    <a href="/Hello/ShowProduct" class="btn btn-primary btn-lg">Show me a sample! &raquo;</a>
    <a href="/Products" class="btn btn-primary btn-lg">Go to the Products page &raquo;</a>
</div>
<div class="lead">We specialize in the absolute finest junk for adding exquisite clutter to your home or office.</div>

<hr />